body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0px;
  margin: 0px;
  border: 0px;  
}
div.photos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 375px;
}
h2 {
  font-size: 1.66em;
  font-weight: 400;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}
p {
  font-size: 19px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}
img{
  display: block;  
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  /* width: 375px; */
  width: 100%;
  
}
div.button {
  position: fixed;
  left: 10vw;
  right: auto;
  bottom: 35px;
  top: auto;   
}
a.back {  
  width: 90px;
  text-align: center;
  display: block;  
  text-decoration: none;
  font-weight: 00;
  font-size: 14px;
  font-weight: 400;
  border: #333 1px solid;
  color: #333;
  padding: 3px;
  padding-left: 5px;
  padding-right: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 0px;
  transition: border-radius 0.5s;
}
a.back:hover {
  top: 5px;
  transition: 0.5s;
  color: #00000059;
  border: #00000059 1px solid;
  border-radius: 10px;
}
a.back:active {
  color: #000;
  border: #1a1a1a 1px solid;
  transition: 0.07s;
  background-color: #fff;
}
@media screen and (max-width: 900px) {  
  div.button {
    position: static;  
    margin-bottom: 35px;    
  }
  a.back {    
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;    
  }
}
@media screen and (max-width: 375px) {
  div.photos {    
    max-width: 100%;
  }
}
