body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0px;  
  border: 0px;    
}
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:white;
  z-index: 3;
  background-position: top center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  

  visibility: visible;
  opacity: 1;
  transition: all 1s;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;  
}
div.photos {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 375px;
}
img{
  position: relative;
  z-index: 2;
  display: block;  
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  width: 100%;  

  opacity: 0;
	transition: opacity 0.8s ease 0s;
}
img._active{
  opacity: 1;
}
.title_div{
  overflow: hidden;
}
.title {
  font-size: 1.66em;
  font-weight: 400;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;  

  transform: translate(0px, 120%);
	opacity: 0;
	transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}
.title._active {
	transform: translate(0px, 0px);
	opacity: 1;
}
._text-of-picture {
  font-size: 19px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;

  transform: translate(0px, 120%);
	opacity: 0;
	transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}
._text-of-picture._active._anim-first {
	transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
}
._text-of-picture._active {
	transform: translate(0px, 0px);
	opacity: 1;	
}
div.button {
  position: fixed;
  left: 10vw;
  right: auto;
  bottom: 35px;
  top: auto; 
  
  opacity: 0;
	transition: opacity 0.8s ease 0s;
}
div.button._active {
	opacity: 1;
}
a.back {  
  width: 90px;
  text-align: center;
  display: block;  
  text-decoration: none;
  font-weight: 00;
  font-size: 14px;
  font-weight: 400;
  border: #333 1px solid;
  color: #333;
  padding: 3px;
  padding-left: 5px;
  padding-right: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 0px;
  transition: border-radius 0.5s;
}
a.back:hover {
  top: 5px;
  transition: 0.5s;
  color: #00000059;
  border: #00000059 1px solid;
  border-radius: 10px;
}
a.back:active {
  color: #000;
  border: #1a1a1a 1px solid;
  transition: 0.07s;
  background-color: #fff;
}
@media screen and (max-width: 900px) {  
  div.button {
    position: static;  
    margin-bottom: 35px;    
  }
  a.back {    
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;    
  }
}
@media screen and (max-width: 375px) {
  div.photos {    
    max-width: 100%;
  }
  div.button{
    margin-top: 50px;
  }
}
